<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/trangChu}">
<head>
    <meta charset="UTF-8">
    <title>Lịch Sử Mua Hàng</title>
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>

    <style>
        div.stars {

            width: 270px;

            display: inline-block;

        }

        .mt-200 {
            margin-top: 200px;
        }

        input.star {
            display: none;
        }

        label.star {

            float: right;

            padding: 10px;

            font-size: 36px;

            color: #4A148C;

            transition: all .2s;

        }

        input.star:checked ~ label.star:before {

            content: '\f005';

            color: #FD4;

            transition: all .25s;

        }

        input.star-5:checked ~ label.star:before {

            color: #FE7;

            text-shadow: 0 0 20px #952;

        }

        input.star-1:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(-15deg) scale(1.3);
        }

        label.star:before {

            content: '\f006';

            font-family: FontAwesome;

        }

        .er {
            color: red;
            font-size: 13px;
        }
    </style>
</head>
<body>
<div layout:fragment="contentUser" class="page-content" ng-app="donhang-app" ng-controller="donhang-ctrl">

    <div class="container-fulid" style="background-color:#f9f9fa;">
        <div class="wrap-header-cart js-panel-cart">
            <div class="s-full js-hide-cart"></div>

            <div class="header-cart flex-col-l p-l-65 p-r-25">
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Giỏ hàng
				</span>

                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                </div>

                <div class="header-cart-content flex-w js-pscroll">
                    <ul class="header-cart-wrapitem w-full">
                        <li class="header-cart-item flex-w flex-t m-b-12" ng-repeat="c in cart">
                            <div class="header-cart-item-img" ng-click="removeProductIncart(c.id)">
                                <img src="/image/loadImage/product/{{c.anh}}"
                                     style="width: 60px; height: 80px" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="/chi-tiet-san-pham/{{c.maSanPham}}"
                                   class="header-cart-item-info">
                                    {{c.tenSanPham}}
                                </a>
                                <span class="header-cart-item-info">
								Size: {{c.size}}
							</span>
                                <span class="header-cart-item-info">
								Số lượng: {{c.soLuong}}
							</span>
                                <!--                            <span class="header-cart-item-info">-->
                                <!--								Màu sắc: {{product.mauSac}}-->
                                <!--							</span>-->
                                <span class="header-cart-item-info">
								Đơn giá: {{c.donGiaSauGiam | currency: "" : 1}}đ
							</span>
                            </div>

                        </li>
                    </ul>

                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            Tổng tiền: {{ getTotal() | currency: "" : 1}}đ
                        </div>

                        <div class="header-cart-buttons flex-w w-full">
                            <a href="/gio-hang"
                               class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                Xem giỏ hàng
                            </a>

                            <a href="/thanh-toan"
                               class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Thanh toán
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab01 -->
        <div class="tab01 container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-custom nav-justified m-t-2 bg-white" style="height: 50px"
                role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" ng-click="donHangUser(5)" href="#choXacNhan"
                       role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block">Chờ thanh toán</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" ng-click="donHangUser(2)" href="#choXacNhan"
                       role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                        <span class="d-none d-sm-block">Chờ xác nhận</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" ng-click="donHangUser(1)" href="#daXacNhan" role="tab">
                        <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                        <span class="d-none d-sm-block">Đã xác nhận</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" ng-click="donHangUser(3)" href="#dangGiao" role="tab">
                        <span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
                        <span class="d-none d-sm-block">Đang giao</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" ng-click="donHangUser(4)" href="#hoanThanh" role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">Hoàn thành</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" ng-click="donHangUser(0)" href="#huy" role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                        <span class="d-none d-sm-block">Đã hủy</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content p-3 text-muted">
                <!--                    chờ thanh toán-->
                <!--                    <div class="tab-pane active" id="choThanhToan" role="tabpanel">-->
                <!--                        <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">-->
                <!--                            <div class="row"-->
                <!--                                 style="height: 500px; display: flex; justify-content: center; align-items: center;">-->
                <!--                                <h4 class="m-t-2" style="text-align: center">-->
                <!--                                    <img style="height: 150px; width: 150px"-->
                <!--                                         src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">Chưa-->
                <!--                                    có đơn hàng-->
                <!--                                </h4>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="row"></div>-->
                <!--                        <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"-->
                <!--                             ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">-->
                <!--                            <div class="row m-t-10 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">-->
                <!--                                <div class="col-6 m-t-17">-->
                <!--                                    <h5 style="color: white">Đơn hàng: {{d.ma}}</h5>-->
                <!--                                </div>-->
                <!--                                <div class="col-6 m-t-3">-->
                <!--                                    <h5 class="flex-r m-t-10" style="color: white;">Chờ thanh toán</h5>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <div class="row m-r-10 m-l-10 m-t-10" ng-repeat="ct in d.chiTietDon">-->
                <!--                                <div class="col-1">-->
                <!--                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
                <!--                                         alt="chờ xác nhận">-->
                <!--                                </div>-->
                <!--                                <div class="col-7">-->
                <!--                                    <div class="text" style="margin-left: 10px;">-->
                <!--                                        <h8>{{ct.sanPham}}</h8>-->
                <!--                                        <p>size: {{ct.size}}</p>-->
                <!--                                    </div>-->
                <!--                                </div>-->
                <!--                                <div class="col-2">-->
                <!--                                    <h9>Số lượng: {{ct.soLuong}}</h9>-->
                <!--                                </div>-->
                <!--                                <div class="col-2">-->
                <!--                                    <h9>{{ct.donGia | currency: "" : 1}}đ</h9>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                            <hr>-->
                <!--                            <div class="row flex-r mr-3">-->
                <!--                                <h4 class="flex-r mr-3">Thành tiền: 1.000.000d</h4>-->
                <!--                            </div>-->
                <!--                            <div class="row flex-r mr-3 m-t-10 m-b-15">-->
                <!--                                <div class="size-101 flex-r mr-3 m-t-10 m-b-15">-->
                <!--                                    <button type="button" class="btn btn-secondary ml-2 m-b-10 btn-danger"-->
                <!--                                            ng-click="findByMaDonHangUser(d.ma)"-->
                <!--                                            data-bs-toggle="modal"-->
                <!--                                            data-bs-target="#huyModal">Hủy-->
                <!--                                    </button>-->
                <!--                                    <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"-->
                <!--                                       class="btn btn-secondary ml-2 m-b-10"-->
                <!--                                       ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng-->
                <!--                                    </a>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                        <div class="row"></div>-->
                <!--                    </div>-->
                <!--                    chờ xác nhận-->
                <div class="tab-pane active" id="choXacNhan" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                        <div class="row"
                             style="height: 500px; display: flex; justify-content: center; align-items: center;">
                            <h4 class="m-t-2" style="text-align: center">
                                <img style="height: 150px; width: 150px"
                                     src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png" alt="">Chưa
                                có đơn hàng
                            </h4>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                         ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                        <div class="row m-t-10 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">
                            <div class="col-6 m-t-17">
                                <h5 style="color: white">Đơn hàng: {{d.ma}}</h5>
                            </div>
                            <div class="col-6 m-t-3">
                                <h5 ng-if="d.trangThai == 2" class="flex-r m-t-10" style="color: white;">Chờ xác nhận</h5>
                                <h5 ng-if="d.trangThai == 5" class="flex-r m-t-10" style="color: white;">Chưa thanh toán</h5>
                            </div>
                        </div>
<!--                        <div class="row m-r-10 m-l-10 m-t-10" ng-repeat="ct in d.chiTietDonHang">-->
<!--                            <div class="col-1">-->
<!--                                <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
<!--                                     alt="chờ xác nhận">-->
<!--                            </div>-->
<!--                            <div class="col-7">-->
<!--                                <div class="text" style="margin-left: 10px;">-->
<!--                                    <h8><a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">{{ct.sanPham}}</a></h8>-->
<!--                                    <p>size: {{ct.size}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>Số lượng: {{ct.soLuong}}</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>{{ct.donGiaSauGiam | currency: "" : 1}}đ</h9>-->
<!--                            </div>-->
<!--                        </div>-->
                        <table class="order-details-table w-full">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Size</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ct in d.chiTietDonHang">
                                <td>
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;" alt="chờ xác nhận">
                                </td>
                                <td>
                                    <a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">
                                        {{ct.sanPham}}
                                    </a>
                                </td>
                                <td>{{ct.size}}</td>
                                <td>{{ct.soLuong}}</td>
                                <td>{{ct.donGiaSauGiam | currency: "" : 1}}đ</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <div class="row flex-r mr-3">
                            <h4 class="flex-r mr-3">Tổng tiền: {{d.tongTien | currency: "" : 1}}đ</h4>
                        </div>
                        <div class="row flex-r mr-3 m-t-10 m-b-15">
                            <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                <button type="button" class="btn btn-secondary ml-2 m-b-10 btn-danger"
                                        ng-click="findByMaDonHangUser(d.ma)"
                                        data-bs-toggle="modal"
                                        data-bs-target="#huyModal">Hủy
                                </button>
                                <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"
                                   class="btn btn-secondary ml-2 m-b-10"
                                   ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                </a>
                                <a ng-click="thanhToan(d.ma)" href="#" type="button"
                                   ng-if="d.trangThai == 5"
                                   class="btn btn-primary ml-2 m-b-10"
                                >Thanh toán
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <!--                    Đã xác nhận-->
                <div class="tab-pane" id="daXacNhan" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                        <div class="row"
                             style="height: 500px; display: flex; justify-content: center; align-items: center;">


                            <h4 class="m-t-2" style="text-align: center"><img style="height: 150px; width: 150px"
                                                                              src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png"
                                                                              alt="">Chưa có đơn hàng</h4>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                         ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                        <div class="row m-t-5 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">
                            <div class="col-6 m-t-5">
                                <h5 style="color: white;">Đơn hàng: {{d.ma}}</h5>
                            </div>
                            <div class="col-6 m-t-5">
                                <h5 class="flex-r m-t-10" style="color: white;">Đã xác nhận</h5>
                            </div>
                        </div>
<!--                        <div class="row m-t-10 m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">-->
<!--                            <div class="col-1">-->
<!--                                <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
<!--                                     alt="chờ xác nhận">-->
<!--                            </div>-->
<!--                            <div class="col-7">-->
<!--                                <div class="text" style="margin-left: 10px;">-->
<!--                                    <h8><a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">{{ct.sanPham}}</a></h8>-->
<!--                                    <p>size: {{ct.size}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>Số lượng: {{ct.soLuong}}</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>{{ct.donGiaSauGiam | currency: "" : 1}}đ</h9>-->
<!--                            </div>-->
<!--                        </div>-->
                        <table class="table table-bordered m-t-10 m-r-10 m-l-10">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Size</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ct in d.chiTietDonHang">
                                <td>
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;" alt="chờ xác nhận">
                                </td>
                                <td>
                                    <a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">
                                        {{ct.sanPham}}
                                    </a>
                                </td>
                                <td>{{ct.size}}</td>
                                <td>{{ct.soLuong}}</td>
                                <td>{{ct.donGiaSauGiam | currency: "" : 1}}đ</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <div class="row flex-r mr-3">
                            <h4 class="flex-r mr-3">Tổng tiền: {{d.tongTien | currency: "" : 1}}đ</h4>
                        </div>
                        <div class="row flex-r mr-3 m-t-10 m-b-15">
                            <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"
                                   class="btn btn-secondary ml-2 m-b-10"
                                   ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <!--                    đang giao-->
                <div class="tab-pane" id="dangGiao" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                        <div class="row"
                             style="height: 500px; display: flex; justify-content: center; align-items: center;">


                            <h4 class="m-t-2" style="text-align: center"><img style="height: 150px; width: 150px"
                                                                              src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png"
                                                                              alt="">Chưa có đơn hàng</h4>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                         ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                        <div class="row m-t-10 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">
                            <div class="col-6 m-t-5">
                                <h5 class="flex-l m-t-5" style="color: white;">Đơn hàng: {{d.ma}}</h5>
                            </div>
                            <div class="col-6 m-t-5">
                                <h5 class="flex-r m-t-4" style="color: white;">Đang giao</h5>
                            </div>
                        </div>
<!--                        <div class="row m-t-10 m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">-->
<!--                            <div class="col-1">-->
<!--                                <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
<!--                                     alt="chờ xác nhận">-->
<!--                            </div>-->
<!--                            <div class="col-7">-->
<!--                                <div class="text" style="margin-left: 10px;">-->
<!--                                    <h8><a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">{{ct.sanPham}}</a></h8>-->
<!--                                    <p>size: {{ct.size}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>Số lượng: {{ct.soLuong}}</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>{{ct.donGiaSauGiam | currency: "" : 1}}đ</h9>-->
<!--                            </div>-->
<!--                        </div>-->

                        <table class="table table-bordered m-t-10 m-r-10 m-l-10">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Size</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ct in d.chiTietDonHang">
                                <td>
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;" alt="chờ xác nhận">
                                </td>
                                <td>
                                    <a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">
                                        {{ct.sanPham}}
                                    </a>
                                </td>
                                <td>{{ct.size}}</td>
                                <td>{{ct.soLuong}}</td>
                                <td>{{ct.donGiaSauGiam | currency: "" : 1}}đ</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <div class="row flex-r mr-3">
                            <h4 class="flex-r mr-3">Tổng tiền: {{d.tongTien | currency: "" : 1}}đ</h4>
                        </div>
                        <div class="row flex-r mr-3 m-t-10 m-b-15">
                            <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"
                                   class="btn btn-secondary ml-2 m-b-10"
                                   ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <!--                   Hoàn thành-->
                <div class="tab-pane" id="hoanThanh" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                        <div class="row"
                             style="height: 500px; display: flex; justify-content: center; align-items: center;">


                            <h4 class="m-t-2" style="text-align: center"><img style="height: 150px; width: 150px"
                                                                              src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png"
                                                                              alt="">Chưa có đơn hàng</h4>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                         ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                        <div class="row m-t-10 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">
                            <div class="col-6 m-t-5">
                                <h5 style="color: white;">Đơn hàng: {{d.ma}}</h5>
                            </div>
                            <div class="col-6 m-t-5">
                                <h5 class="flex-r m-t-10" style="color: white;">Hoàn thành</h5>
                            </div>
                        </div>
<!--                        <div class="row m-t-20 m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">-->
<!--                            <div class="col-1">-->
<!--                                <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
<!--                                     alt="chờ xác nhận">-->
<!--                            </div>-->
<!--                            <div class="col-5">-->
<!--                                <div class="text" style="margin-left: 10px;">-->
<!--                                    <h8><a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">{{ct.sanPham}}</a></h8>-->
<!--                                    <p>size: {{ct.size}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>Số lượng: {{ct.soLuong}}</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>{{ct.donGiaSauGiam | currency: "" : 1}}đ</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <a href="#" data-bs-toggle="modal" ng-click="setChiTietDH(ct.id)"-->
<!--                                   ng-if="ct.nhanXet==null"-->
<!--                                   data-bs-target="#danhGia">Đánh giá</a>-->
<!--                                <a href="#" data-bs-toggle="modal" ng-if="ct.nhanXet!=null"-->
<!--                                   ng-click="viewUpdateDanhGia(ct.nhanXet.id)"-->
<!--                                   data-bs-target="#danhGiaUpdate">Đã đánh giá</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <table class="table table-bordered m-t-20 m-r-10 m-l-10">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Size</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
<!--                                <th>Đánh giá</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ct in d.chiTietDonHang">
                                <td>
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;" alt="chờ xác nhận">
                                </td>
                                <td>
                                    <a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">
                                        {{ct.sanPham}}
                                    </a>
                                    <p>Size: {{ct.size}}</p>
                                </td>
                                <td>{{ct.size}}</td>
                                <td>{{ct.soLuong}}</td>
                                <td>{{ct.donGiaSauGiam | currency: "" : 1}}đ</td>
<!--                                <td>-->
<!--                                    <a href="#" data-bs-toggle="modal" ng-click="setChiTietDH(ct.id)" ng-if="ct.nhanXet==null"-->
<!--                                       data-bs-target="#danhGia">Đánh giá</a>-->
<!--                                    <a href="#" data-bs-toggle="modal" ng-if="ct.nhanXet!=null"-->
<!--                                       ng-click="viewUpdateDanhGia(ct.nhanXet.id)" data-bs-target="#danhGiaUpdate">Đã đánh giá</a>-->
<!--                                </td>-->
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <div class="row flex-r mr-3">
                            <h4 class="flex-r mr-3">Tổng tiền: {{d.tongTien | currency: "" : 1}}đ</h4>
                        </div>
                        <div class="row flex-r mr-3 m-t-10 m-b-15">
                            <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"
                                   class="btn btn-secondary ml-2 m-b-10"
                                   ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <!--                    hủy-->
                <div class="tab-pane" id="huy" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md" ng-if="donHangChuaXacNhanKh.length === 0">
                        <div class="row"
                             style="height: 500px; display: flex; justify-content: center; align-items: center;">


                            <h4 class="m-t-2" style="text-align: center"><img style="height: 150px; width: 150px"
                                                                              src="/image/loadImage/product/5fafbb923393b712b96488590b8f781f.png"
                                                                              alt="">Chưa có đơn hàng</h4>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="m-l-10 m-r-10 m-b-10" style="background-color: white;"
                         ng-repeat="d in donHangChuaXacNhanKh" ng-if="donHangChuaXacNhanKh.length >0">
                        <div class="row m-t-10 m-r-1 m-l-1" style="background-color: #717fe0; height: 50px">
                            <div class="col-6">
                                <h5 style="color: white;" class="m-t-5">Hóa đơn: {{d.ma}}</h5>
                            </div>
                            <div class="col-6 m-t-5">
                                <h5 class="flex-r m-t-10" style="color: white;">Hủy</h5>
                            </div>
                        </div>
<!--                        <div class="row m-t-10 m-r-10 m-l-10" ng-repeat="ct in d.chiTietDonHang">-->
<!--                            <div class="col-1">-->
<!--                                <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;"-->
<!--                                     alt="chờ xác nhận">-->
<!--                            </div>-->
<!--                            <div class="col-7">-->
<!--                                <div class="text" style="margin-left: 10px;">-->
<!--                                    <h8><a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">{{ct.sanPham}}</a></h8>-->
<!--                                    <p>size: {{ct.size}}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>Số lượng: {{ct.soLuong}}</h9>-->
<!--                            </div>-->
<!--                            <div class="col-2">-->
<!--                                <h9>{{ct.donGiaSauGiam | currency: "" : 1}}đ</h9>-->
<!--                            </div>-->
<!--                        </div>-->
                        <table class="table table-bordered m-t-10 m-r-10 m-l-10">
                            <thead>
                            <tr>
                                <th>Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th>Size</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ct in d.chiTietDonHang">
                                <td>
                                    <img src="/image/loadImage/product/{{ct.anh}}" style="width: 100px; height: 100px;" alt="chờ xác nhận">
                                </td>
                                <td>
                                    <a style="color: #666;" href="/chi-tiet-san-pham/{{ct.maSanPham}}">
                                        {{ct.sanPham}}
                                    </a>
                                </td>
                                <td>{{ct.size}}</td>
                                <td>{{ct.soLuong}}</td>
                                <td>{{ct.donGiaSauGiam | currency: "" : 1}}đ</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>
                        <div class="row flex-r mr-3">
                            <h4 class="flex-r mr-3">Tổng tiền: {{d.tongTien | currency: "" : 1}}đ</h4>
                        </div>
                        <div class="row flex-r mr-3 m-t-10 m-b-15">
                            <div class="size-101 flex-r mr-3 m-t-10 m-b-15">
                                <a href="/don-hang/chi-tiet-don-hang/{{d.ma}}" type="button"
                                   class="btn btn-secondary ml-2 m-b-10"
                                   ng-click="findByMaDonHangUser(d.ma)">Xem chi tiết đơn hàng
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
    <!--        modal huy-->
    <div class="modal" id="huyModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Lý do hủy đơn</label>
                        <textarea class="form-control" ng-model="lyDoHuy" id="exampleFormControlTextarea1"
                                  rows="3"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="huyDonUser(maDonHang)"
                            data-bs-dismiss="modal">Xác nhận
                    </button>
                </div>

            </div>
        </div>
    </div>
    <!-- Đánh giá-->
    <div class="modal" id="danhGia">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body" style="text-align: center;">
                    <h4>Đánh giá</h4>
                    <p>Bạn cảm thấy sản phẩm này thế nào?
                        <h9 style="color: red;">*</h9>
                    </p>
                    <div class="row">

                        <div class="col-md-12">

                            <div class="stars">

                                <form action="" id="formDanhGia">

                                    <input class="star star-5" id="star-5" type="radio"
                                           ng-click="erDanhGia.rating=''"
                                           name="star" value="5" ng-model="danhGia.rating"/>

                                    <label class="star star-5" for="star-5"></label>

                                    <input class="star star-4" id="star-4" type="radio"
                                           ng-click="erDanhGia.rating=''"
                                           name="star" value="4" ng-model="danhGia.rating"/>

                                    <label class="star star-4" for="star-4"></label>

                                    <input class="star star-3" id="star-3" type="radio"
                                           ng-click="erDanhGia.rating=''"
                                           name="star" value="3" ng-model="danhGia.rating"/>

                                    <label class="star star-3" for="star-3"></label>

                                    <input class="star star-2" id="star-2" type="radio"
                                           ng-click="erDanhGia.rating=''"
                                           name="star" value="2" ng-model="danhGia.rating"/>

                                    <label class="star star-2" for="star-2"></label>

                                    <input class="star star-1" id="star-1" type="radio"
                                           ng-click="erDanhGia.rating=''"
                                           name="star" value="1" ng-model="danhGia.rating"/>

                                    <label class="star star-1" for="star-1"></label>
                                    <br>
                                    <i class="er">{{erDanhGia.rating == undefined ? "" : erDanhGia.rating}}</i>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Chia sẻ cảm nhận của bạn về sản
                            phẩm
                            <h9 style="color: red;">*</h9>
                        </label>
                        <input type="text" class="form-control" placeholder="Tiêu đề" ng-model="danhGia.tieuDe"
                               ng-focus="erDanhGia.tieuDe=''">
                        <i class="er ">{{erDanhGia.tieuDe == undefined ? "" : erDanhGia.tieuDe}}</i>
                        <textarea class="form-control mt-3" ng-model="danhGia.noiDung"
                                  ng-focus="erDanhGia.noiDung=''"
                                  id="exampleFormControlTextarea11" rows="3" placeholder="Nội dung"></textarea>
                        <i class="er mb-3">{{erDanhGia.noiDung == undefined ? "" : erDanhGia.noiDung}}</i>
                    </div>
                    <button type="button" class="btn btn-secondary" ng-click="addDanhGia()">Gửi đánh giá</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="danhGiaUpdate">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="padding: 10px">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
<!--                <div class="modal-body" style="text-align: center;">-->
<!--&lt;!&ndash;                    <h4>Đánh giá</h4>&ndash;&gt;-->
<!--                    <p>Bạn cảm thấy sản phẩm này thế nào?-->
<!--                        <h9 style="color: red;">*</h9>-->
<!--                    </p>-->
<!--                    <div class="row">-->

<!--                        <div class="col-md-12">-->

<!--                            <div class="stars">-->

<!--                                <form action="" id="formDanhGiapdateUpdate">-->

<!--                                    <input class="star star-5" id="star-5update" type="radio"-->
<!--                                           ng-click="erDanhGiaUpdate.rating=''"-->
<!--                                           name="star" value="5" ng-model="danhGiaUpdate.rating"/>-->

<!--                                    <label class="star star-5" for="star-5update"></label>-->

<!--                                    <input class="star star-4" id="star-4update" type="radio"-->
<!--                                           ng-click="erDanhGiaUpdate.rating=''"-->
<!--                                           name="star" value="4" ng-model="danhGiaUpdate.rating"/>-->

<!--                                    <label class="star star-4" for="star-4update"></label>-->

<!--                                    <input class="star star-3" id="star-3update" type="radio"-->
<!--                                           ng-click="erDanhGiaUpdate.rating=''"-->
<!--                                           name="star" value="3" ng-model="danhGiaUpdate.rating"/>-->

<!--                                    <label class="star star-3" for="star-3update"></label>-->

<!--                                    <input class="star star-2" id="star-2update" type="radio"-->
<!--                                           ng-click="erDanhGiaUpdate.rating=''"-->
<!--                                           name="star" value="2" ng-model="danhGiaUpdate.rating"/>-->

<!--                                    <label class="star star-2" for="star-2update"></label>-->

<!--                                    <input class="star star-1" id="star-1update" type="radio"-->
<!--                                           ng-click="erDanhGiaUpdate.rating=''"-->
<!--                                           name="star" value="1" ng-model="danhGiaUpdate.rating"/>-->

<!--                                        <label class="star star-1" for="star-1update"></label>-->
<!--                                        <br>-->
<!--                                        <p style="color: orange">Đã đánh giá {{danhGiaUpdate.rating}}/5 sao</p>-->
<!--                                        <br>-->
<!--                                        <i class="er">{{erDanhGiaUpdate.rating == undefined ? "" : erDanhGiaUpdate.rating}}</i>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mb-3">-->
<!--                        <label for="exampleFormControlTextarea1" class="form-label">Chia sẻ cảm nhận của bạn về sản-->
<!--                            phẩm-->
<!--                            <h9 style="color: red;">*</h9>-->
<!--                        </label>-->
<!--                        <input type="text" class="form-control" placeholder="Tiêu đề"-->
<!--                               ng-model="danhGiaUpdate.tieuDe"-->
<!--                               ng-focus="erDanhGiaUpdate.tieuDe=''">-->
<!--                        <i class="er ">{{erDanhGiaUpdate.tieuDe == undefined ? "" : erDanhGiaUpdate.tieuDe}}</i>-->
<!--                        <textarea class="form-control mt-3" ng-model="danhGiaUpdate.noiDung"-->
<!--                                  ng-focus="erDanhGiaUpdate.noiDung=''"-->
<!--                                  id="exampleFormControlTextarea11update" rows="3"-->
<!--                                  placeholder="Nội dung"></textarea>-->
<!--                        <i class="er mb-3">{{erDanhGiaUpdate.noiDung == undefined ? "" : erDanhGiaUpdate.noiDung}}</i>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-secondary" ng-click="updateDanhGia()"&ndash;&gt;-->
<!--&lt;!&ndash;                            ng-if="danhGiaUpdate.chinhSua==false && danhGiaUpdate.pheDuyet==false">Cập nhật đánh giá&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>