<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
</head>
<style></style>
<body data-topbar="dark">

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div class="page-content" ng-app="resetPassword-app" ng-controller="resetPassword-ctrl">
        <style>
            .er {
                color: red;
                font-size: 13px;
            }

            .show-pass {
                border: 1px solid #ced4da;
                border-left: none;
            }

            .inputInInputgroup {
                border-right: none;
            }
        </style>
        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>
        <!-- start page title -->
        <!-- end page title -->
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <form id="formUser" method="put" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Đổi mật khẩu</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-sm-8">
                                    <div class="mb-3">
                                        <label>Mật khẩu cũ</label>
                                        <div class="input-group col-12">
                                            <input id="passOld" ng-model="data.oldPass" type="password"
                                                   class="form-control inputInInputgroup"
                                                   ng-focus="removeErrors('passCuER')">
                                            <button class="btn show-pass">
                                                <i class="bx bxs-show" id="iPassOld"
                                                   style="font-size: 25px; align-items: center;display: flex;"
                                                   ng-click="showPassword('passOld','iPassOld')"></i>
                                            </button>
                                        </div>
                                        <i class="er" id="passCuER"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label>Mật khẩu mới</label>
                                        <div class="input-group col-12">
                                            <input id="passNew" ng-model="data.newPass" class="form-control inputInInputgroup"
                                                   type="password"
                                                   ng-focus="removeErrors('passNewER')">
                                            <button class="btn show-pass">
                                            <i class="bx bxs-show" id="iPassNew"
                                               style="font-size: 25px; align-items: center;display: flex;"
                                               ng-click="showPassword('passNew','iPassNew')"></i>
                                            </button>
                                        </div>
                                        <i class="er" id="passNewER"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label>Nhập lại mật khẩu mới</label>
                                        <div class="input-group col-12">
                                            <input id="verifyPassNew" ng-model="data.verifyNewPass" class="form-control inputInInputgroup"
                                                   type="password"
                                                   ng-focus="removeErrors('verifyPassNewER')">
                                            <button class="btn show-pass">
                                            <i class="bx bxs-show" id="iVerifyPassNew"
                                               style="font-size: 25px;align-items: center;display: flex;"
                                               ng-click="showPassword('verifyPassNew','iVerifyPassNew')"></i>
                                            </button>
                                        </div>
                                        <i class="er" id="verifyPassNewER"></i>
                                    </div>

                                </div>

                            </div>
                            <div class="card-footer ">
                                <div class="d-flex flex-wrap gap-2" style="float: right">
                                    <button type="submit"
                                            class="btn btn-primary waves-effect waves-light" id="sm"
                                            ng-click="resetPassword()">Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>
                © Dason.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>

</script>
</div>

<!-- end main content-->
<!-- JAVASCRIPT -->
<!--<script th:src="@{/admin/assets/libs/jquery/jquery.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/metismenu/metisMenu.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/simplebar/simplebar.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/node-waves/waves.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/feather-icons/feather.min.js}"></script>-->
<!--&lt;!&ndash; pace js} &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/libs/pace-js/pace.min.js}"></script>-->

<!--&lt;!&ndash; apexcharts &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/libs/apexcharts/apexcharts.min.js}"></script>-->

<!--&lt;!&ndash; Plugins js}&ndash;&gt;-->
<!--<script th:src="@{/admin/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js}"></script>-->
<!--<script th:src="@{/admin/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js}"></script>-->
<!--&lt;!&ndash; dashboard init &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/js/pages/dashboard.init.js}"></script>-->

<!--<script th:src="@{/admin/assets/js/app.js}"></script>-->

<!--&lt;!&ndash; select 2 plugin &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/libs/select2/js/select2.min.js}"></script>-->

<!--&lt;!&ndash; dropzone plugin &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/libs/dropzone/min/dropzone.min.js}"></script>-->

<!--&lt;!&ndash; init js} &ndash;&gt;-->
<!--<script th:src="@{/admin/assets/js/pages/ecommerce-select2.init.js}"></script>-->

<!--<script th:src="@{/admin/assets/js/app.js}"></script>-->

</body>

</html>