<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
    <title>ZENTRO STORE | Form sản phẩm</title>


</head>
<style></style>
<body data-topbar="dark">

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <div class="page-content" ng-app="formSP-app" ng-controller="ctrl">
        <style>
            .er {
                color: red;
                font-size: 13px;
            }
        </style>
        <link th:href="@{/admin/css/fileupload.css}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- start page title -->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="page-title-box d-sm-flex align-items-center justify-content-between">-->
<!--                    <h4 class="mb-sm-0 font-size-18">Add Product</h4>-->

<!--                    <div class="page-title-right">-->
<!--                        <ol class="breadcrumb m-0">-->
<!--                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>-->
<!--                            <li class="breadcrumb-item active">Add Product</li>-->
<!--                        </ol>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
<!--                Form readonly-->
                <form th:if="${hasAdmin == false}" inert th:object="${sanPham}" enctype="multipart/form-data">

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Ảnh sản phẩm</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <fieldset class="form-group">

                                    <input type="file" accept=".jpg,.gif,.png" id="pro-image" name="pro-image"
                                           style="display: none;"
                                           onchange="angular.element(this).scope().appendFile()"
                                           class="form-control" multiple>
                                </fieldset>
                                <div class="preview-images-zone">
                                    <div class="addImg " onclick="$('#pro-image').click()">
                                        <a class="image-zone" href="javascript:void(0)"><i class="bx bxs-image-add"></i></a>
                                    </div>
                                    <div th:each="img,i :*{anh}" th:class="${'preview-image preview-show-'+i.index}"
                                         th:id="${img}" th:attr="ng-init='loadImgProduct(\''+${img}+'\')'">
                                        <div class="image-cancel" th:data-no="${i.index}"
                                             onclick="angular.element(this).scope().removeFile(this.id)">x
                                        </div>
                                        <div class="image-zone"><img th:id="${'pro-img-'+i.index}"
                                                                     th:src="@{|/image/loadImage/product/${img}|}">
                                        </div>
                                    </div>

                                </div>
                                <i class="er" id="erImg">{{er.anh}}</i>
                            </div>
                            <!--                            <button ng-click="check()" type="button">check</button>-->
                        </div>
                    </div> <!-- end card-->
                    <div class="card">

                        <div class="card-header">
                            <i style="float: right" th:if="${method == 'put'}"
                               th:text="'Cập nhật lần cuối: ' + ${#dates.format(sanPham.NgayCapNhat, 'dd-MM-yyyy HH:mm:ss')} "></i>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="ma">Mã Sản Phẩm</label>
                                        <input th:if="${method != 'put'}" th:field="*{ma}" id="ma"
                                               class="form-control">
                                        <span th:if="${method == 'put'}" th:text="*{ma}" id="ma"
                                              class="form-control"></span>
                                        <i th:errors="*{ma}" class="er"></i>
                                        <i th:if="${erMa != null}" class="er" th:text="${erMa}"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productname">Tên Sản Phẩm</label>
                                        <input id="productname" th:field="*{ten}" class="form-control">
                                        <i th:errors="*{ten}" class="er"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Màu Sắc</label>
                                        <select class="form-control select2" th:field="*{mauSac}" id="mauSac"
                                                onchange="angular.element(this).scope().viewAddMauSac()">
                                            <option th:value="NULL">Chọn màu sắc</option>
                                            <option th:each="c :${colors}" th:value="${c.ma}">[[${c.ten}]]</option>
                                            <option th:value="NULL">Thêm màu sắc</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="manufacturerbrand">Giá Bán</label>
                                        <input id="manufacturerbrand" th:field="*{giaBan}" class="form-control">
                                        <i th:errors="*{giaBan}" class="er"></i>
                                    </div>
                                    <!--                                    <div class="mb-3">-->
                                    <!--                                        <label>Trạng thái</label>-->
                                    <!--                                        <input th:field="*{hienThi}" type="radio" th:value="1"/>Đăng bán-->
                                    <!--                                        <input th:field="*{hienThi}" th:checked="*{hienThi == null ? true :false}"-->
                                    <!--                                               type="radio" th:value="0"/>Ẩn-->
                                    <!--                                    </div>-->
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="control-label">Dòng Sản Phẩm</label>
                                        <select class="form-control select2" th:field="*{dongSanPham}" id="dongSP"
                                                onchange="angular.element(this).scope().viewAddDongSP()">
                                            <option th:value="NULL">Chọn dòng sản phẩm</option>
                                            <optgroup th:each="t :${thuongHieu}" th:attr="label=''+${t.ten}+''" th:id="${t.id}">
                                                <option th:each="d :${t.dongSanPhamResponeseList}" th:value="${d.id}">
                                                    [[${d.ten}]]
                                                </option>
                                            </optgroup>
                                            <option th:value="NULL">Thêm dòng sản phẩm</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Xuất xứ</label>
                                        <select class="form-control select2" th:field="*{xuatXu}" id="xuatXu"
                                                onchange="angular.element(this).scope().viewAddXuatXu()">
                                            <option th:value="NULL">Chọn xuất xứ</option>
                                            <option th:each="x :${xuatXu}" th:value="${x.id}">[[${x.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm xuất xứ</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Kiểu Dáng</label>
                                        <select class="form-control select2" th:field="*{kieuDang}" id="kieuDang"
                                                onchange="angular.element(this).scope().viewAddKieuDang()">
                                            <option th:value="NULL">Chọn kiểu dáng</option>
                                            <option th:each="k :${kieuDang}" th:value="${k.id}">[[${k.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm kiểu dáng</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Chất Liệu</label>
                                        <select class="form-control select2" th:field="*{chatLieu}" id="chatLieu"
                                                onchange="angular.element(this).scope().viewAddChatLieu()">
                                            <option th:value="NULL">Chọn chất liệu</option>
                                            <option th:each="c :${chatLieu}" th:value="${c.id}">[[${c.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm chất liệu</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productdesc">Mô tả</label>
                                        <textarea class="form-control" th:field="*{moTa}" id="productdesc"
                                                  rows="5"></textarea>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </form>
                <form th:if="${hasAdmin == true}" th:action="@{|/admin/san-pham/${action}|}" th:object="${sanPham}" th:method="${method}"
                      enctype="multipart/form-data">

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Ảnh sản phẩm</h4>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <fieldset class="form-group">

                                    <input type="file" accept=".jpg,.gif,.png" id="pro-image" name="pro-image"
                                           style="display: none;"
                                           onchange="angular.element(this).scope().appendFile()"
                                           class="form-control" multiple>
                                </fieldset>
                                <div class="preview-images-zone">
                                    <div class="addImg " onclick="$('#pro-image').click()">
                                        <a class="image-zone" href="javascript:void(0)"><i class="bx bxs-image-add"></i></a>
                                    </div>
                                    <div th:each="img,i :*{anh}" th:class="${'preview-image preview-show-'+i.index}"
                                         th:id="${img}" th:attr="ng-init='loadImgProduct(\''+${img}+'\')'">
                                        <div class="image-cancel" th:data-no="${i.index}"
                                             onclick="angular.element(this).scope().removeFile(this.id)">x
                                        </div>
                                        <div class="image-zone"><img th:id="${'pro-img-'+i.index}"
                                                                     th:src="@{|/image/loadImage/product/${img}|}">
                                        </div>
                                    </div>

                                </div>
                                <i class="er" id="erImg">{{er.anh}}</i>
                            </div>
<!--                            <button ng-click="check()" type="button">check</button>-->
                        </div>
                    </div> <!-- end card-->
                    <div class="card">

                        <div class="card-header">
                            <i style="float: right" th:if="${method == 'put'}"
                               th:text="'Cập nhật lần cuối: ' + ${#dates.format(sanPham.NgayCapNhat, 'dd-MM-yyyy HH:mm:ss')} "></i>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="ma">Mã Sản Phẩm</label>
                                        <input th:if="${method != 'put'}" onfocus="document.getElementById('erMa').innerText=''"
                                               th:field="*{ma}" id="ma"
                                               class="form-control">
                                        <span th:if="${method == 'put'}" th:text="*{ma}" id="ma"
                                              class="form-control"></span>
                                        <i th:if="${erMa == null}" th:errors="*{ma}" id="erMa" class="er"></i>
                                        <i th:if="${erMa != null}" id="erMa" class="er" th:text="${erMa}"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productname">Tên Sản Phẩm</label>
                                        <input id="productname" onfocus="document.getElementById('erTen').innerText=''"
                                               th:field="*{ten}" class="form-control">
                                        <i th:errors="*{ten}" id="erTen" class="er"></i>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Màu Sắc</label>
                                        <select class="form-control select2" th:field="*{mauSac}" id="mauSac"
                                                onchange="angular.element(this).scope().viewAddMauSac()">
                                            <option th:value="NULL">Chọn màu sắc</option>
                                            <option th:each="c :${colors}" th:value="${c.ma}">[[${c.ten}]]</option>
                                            <option th:value="NULL">Thêm màu sắc</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="manufacturerbrand">Giá Bán</label>
                                        <input id="manufacturerbrand" onfocus="document.getElementById('erGiaBan').innerText=''"
                                               type="number" th:field="*{giaBan}" class="form-control">
                                        <i th:errors="*{giaBan}" id="erGiaBan" class="er"></i>
                                    </div>
<!--                                    <div class="mb-3">-->
<!--                                        <label>Trạng thái</label>-->
<!--                                        <input th:field="*{hienThi}" type="radio" th:value="1"/>Đăng bán-->
<!--                                        <input th:field="*{hienThi}" th:checked="*{hienThi == null ? true :false}"-->
<!--                                               type="radio" th:value="0"/>Ẩn-->
<!--                                    </div>-->
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="control-label">Dòng Sản Phẩm</label>
                                        <select class="form-control select2" th:field="*{dongSanPham}" id="dongSP"
                                                onchange="angular.element(this).scope().viewAddDongSP()">
                                            <option th:value="NULL">Chọn dòng sản phẩm</option>
                                            <optgroup th:each="t :${thuongHieu}" th:attr="label=''+${t.ten}+''" th:id="${t.id}">
                                                <option th:each="d :${t.dongSanPhamResponeseList}" th:value="${d.id}">
                                                    [[${d.ten}]]
                                                </option>
                                            </optgroup>
                                            <option th:value="NULL">Thêm dòng sản phẩm</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Xuất xứ</label>
                                        <select class="form-control select2" th:field="*{xuatXu}" id="xuatXu"
                                                onchange="angular.element(this).scope().viewAddXuatXu()">
                                            <option th:value="NULL">Chọn xuất xứ</option>
                                            <option th:each="x :${xuatXu}" th:value="${x.id}">[[${x.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm xuất xứ</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Kiểu Dáng</label>
                                        <select class="form-control select2" th:field="*{kieuDang}" id="kieuDang"
                                                onchange="angular.element(this).scope().viewAddKieuDang()">
                                            <option th:value="NULL">Chọn kiểu dáng</option>
                                            <option th:each="k :${kieuDang}" th:value="${k.id}">[[${k.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm kiểu dáng</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="control-label">Chất Liệu</label>
                                        <select class="form-control select2" th:field="*{chatLieu}" id="chatLieu"
                                                onchange="angular.element(this).scope().viewAddChatLieu()">
                                            <option th:value="NULL">Chọn chất liệu</option>
                                            <option th:each="c :${chatLieu}" th:value="${c.id}">[[${c.ten}]]
                                            </option>
                                            <option th:value="NULL">Thêm chất liệu</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="productdesc">Mô tả</label>
                                        <textarea class="form-control" th:field="*{moTa}" id="productdesc"
                                                  rows="5"></textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-2">
                                <button type="submit" ng-click="sortFiles()" th:text="${method == 'put' ? 'Cập nhật' : 'Thêm'}"
                                        class="btn btn-primary waves-effect waves-light">
                                </button>
                                <a type="reset" href="/admin/san-pham/add" th:if="${method != 'put'}"
                                   class="btn btn-secondary waves-effect waves-light">Làm mới</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end row -->
        <div class="modal fade" id="viewAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex justify-content-end">
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close"
                                ng-click="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">

                            <div class="col-10 mb-3" id="viewAddThuongHieu" style="display: none">
                                <label class="control-label">Thương hiệu</label>
                                <select class="form-control " ng-model="thuongHieu" onchange="document.getElementById('erAddDongSP').innerText =''" >
                                    <option th:each="t :${thuongHieu}" th:value="${t.id}">[[${t.ten}]]</option>
                                </select>
                                <i class="er" id="erAddDongSP"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">

                            <div class="col-10 mb-3">
                                <label>Tên</label>
                                <input ng-model="tenThuocTinh" required class="form-control" type="text"
                                       ng-focus="removeER('etenThuocTinh')">
                                <i id="etenThuocTinh" class="er"></i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="closeModal()">
                            Đóng
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="addThuocTinh()">Thêm</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- container-fluid -->

</div>
<!-- End Page-content -->

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script>
                © Dason.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>

</script>
</div>

</body>

</html>