<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8"/>
    <title>ZENTRO STORE | Thống Kê</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesbrand" name="author"/>
</head>

<body data-topbar="dark">
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content" layout:fragment="content">
    <style>
        .nameProduct{
            width:200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .dropdown-content {
            position: relative;
            padding: 12px 16px;
        }
    </style>
    <div class="page-content" ng-app="thongke-tongquat" ng-controller="ctrl">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">

                <div class="col-xl-2 col-md-6" >
                    <!-- card -->
                    <div class="card card-h-100" style="height: 144px">
                        <!-- card body -->
                        <div class="card-body">
                            <div id="reportrange" 
                                 style="cursor: pointer; padding: 5px 10px; height: 100%; width: 100%">
                                <div class="d-flex justify-content-center mb-2"><i class="fa fa-calendar"></i>&nbsp;</div>
                                <div class="d-flex justify-content-center mb-1">
                                    <span id="start" class="text-center col-12"></span>
                                </div>
                                <div class="d-flex justify-content-center mb-1">
                                    <span  class="text-center col-12" id="connect">Hôm nay</span>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <span id="end" class="text-center col-12"></span>
                                </div>
                            </div>
                            </input>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

<!--                //Số lượng đơn hàng-->
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1"
                                     data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom"
                                     data-bs-custom-class="custom-tooltip"
                                     title="<div>
                                                <b>Đơn online</b>
                                                <br>
                                                <b>Chưa xác nhận: {{tongQuat.ordersDetail.TH2 == null ? 0 : tongQuat.ordersDetail.TH2}}</b>
                                                <br>
                                                <b>Đã xác nhận: {{tongQuat.ordersDetail.TH1 == null ? 0 : tongQuat.ordersDetail.TH1}}</b>
                                                <br>
                                                <b>Đang giao: {{tongQuat.ordersDetail.TH3 == null ? 0 : tongQuat.ordersDetail.TH3}}</b>
                                                <br>
                                                <b>Đã giao: {{tongQuat.ordersDetail.TH4 == null ? 0 : tongQuat.ordersDetail.TH4}}</b>
                                                <br>
                                                <b>Hủy: {{tongQuat.ordersDetail.TH0 == null ? 0 : tongQuat.ordersDetail.TH0}}</b>
                                                <br>
                                                <b>Chưa thanh toán: {{tongQuat.ordersDetail.TH5 == null ? 0 : tongQuat.ordersDetail.TH5}}</b>
                                                <hr>
                                                <b>Đơn tại quầy</b>
                                                <br>
                                                <b>Chờ thanh toán: {{tongQuat.ordersTaiQuayDetail.TH5 == null ? 0 : tongQuat.ordersTaiQuayDetail.TH5}}</b>
                                                <br>
                                                <b>Đã Thanh toán: {{tongQuat.ordersTaiQuayDetail.TH4 == null ? 0 : tongQuat.ordersTaiQuayDetail.TH4}}</b>
                                                <br>
                                                <b>Hủy: {{tongQuat.ordersTaiQuayDetail.TH0 == null ? 0 : tongQuat.ordersTaiQuayDetail.TH0}}</b>
                                                </div>">
                                    <span class="text-muted mb-3 d-block text-truncate" style="font-weight: bold;font-size: 15px">Số lượng đơn hàng</span>
                                    <div class="d-flex align-items-center">
                                        <span class="col-4" style="font-weight: bold;font-size: 40px">
                                            <i class="dripicons-cart"></i>
                                        </span>

                                        <div class="col-8">
                                            <h4>
                                                <span style="float: right;font-size: 18px;">{{tongQuat.quantityOrders}}</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

<!--                //SỐ lượng sản phẩm-->
                <div class="col-xl-3 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center" data-toggle="modal" data-target="#sanPhamDaBan">
                                <div class="flex-grow-1" style="cursor: pointer"data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom"
                                     data-bs-custom-class="custom-tooltip"
                                     title="<div>
                                                <b>Số lượng bán online: {{tongQuat.quantityProductsDetail.hoaDonOnline == null ? 0 : tongQuat.quantityProductsDetail.hoaDonOnline}}</b>
                                                <hr>
                                                <b>Số lượng bán tại quầy: {{tongQuat.quantityProductsDetail.hoaDonTaiQuay == null ? 0 : tongQuat.quantityProductsDetail.hoaDonTaiQuay}}</b>
                                                </div>">
                                    <span class="text-muted mb-3 d-block text-truncate" style="font-weight: bold;font-size: 15px">Số lượng sản phẩm</span>
                                    <div class="d-flex align-items-center">
                                        <span class="col-4 d-flex align-items-start" style="font-weight: bold;font-size: 40px">
                                            <i class="mdi mdi-shoe-sneaker"></i>
                                        </span>
                                        <div class="col-8">
                                            <h4>
                                                <span style="float: right;font-size: 18px;">{{tongQuat.quantityProducts}}</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->

<!--                //Doanh thu-->
                <div class="col-xl-4 col-md-6">
                    <!-- card -->
                    <div class="card card-h-100">
                        <!-- card body -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="text-muted mb-3 d-block text-truncate" style="font-weight: bold;font-size: 15px">Doanh thu</span>
                                    <div class="d-flex align-items-center" id="doanhThu"
                                         data-bs-toggle="tooltip" data-bs-html="true"
                                         data-bs-custom-class="custom-tooltip"
                                         title="<div>
                                                <b>Doanh thu online</b>
                                                <br>
                                                <b >Tổng tiền: {{tongQuat.doanhThuDetail.tongTien | currency: '' : 1}} đ</b>
                                                <br>
                                                <b>Tiền giảm: {{tongQuat.doanhThuDetail.tienGiam | currency: '' : 1}} đ</b>
                                                <br>
                                                <b>Doanh thu {{tongQuat.doanhThuDetail.tongTien - tongQuat.doanhThuDetail.tienGiam | currency: '' : 1}} đ</b>
                                                <hr>
                                                <b>Doanh thu tại quầy</b>
                                                <br>
                                                <b >Tổng tiền: {{tongQuat.doanhThuTaiQuayDetail.tongTien | currency: '' : 1}} đ</b>
                                                <br>
                                                <b>Tiền giảm: {{tongQuat.doanhThuTaiQuayDetail.tienGiam | currency: '' : 1}} đ</b>
                                                <br>
                                                <b>Doanh thu {{tongQuat.doanhThuTaiQuayDetail.tongTien - tongQuat.doanhThuTaiQuayDetail.tienGiam | currency: '' : 1}} đ</b>
                                                </div>">
                                        <span class="col-4 d-flex align-items-start" style="font-weight: bold;font-size:40px">
                                            <i class="mdi mdi-cash-multiple"></i>
                                        </span>
                                        <div class="col-8">
                                            <h4>
                                                <span style="float: right;font-size: 18px;">{{tongQuat.totalPrice | currency: "" : 1}} đ</span>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row-->

        </div>
        <!-- container-fluid -->

<!--///////////////-->
        <div class="container-fluid d-flex justify-content-between">
            <!--        Sản phẩm bán chạy-->
            <div style="width: 49%">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Sản phẩm bán chạy</h4>
                    </div><!-- end card header -->

                    <div class="card-body px-0 pt-2">
                        <div class="table-responsive px-3" data-simplebar >
                            <table class="table align-middle table-nowrap ">
                                <thead>
                                <tr>
                                    <th colspan="2" style="width: 70%">Sản phẩm</th>
                                    <th style="width: 15%"><span  class="d-flex justify-content-center">Còn lại</span></th>
                                    <th  style="width: 15%"><span  class="d-flex justify-content-center"> Đã bán </span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="s in sanPhamBanChay " ng-click="getChiTietSpBanChay(s.sanPham.ma)" style="cursor: pointer">
                                    <td style="width: 50px;">
                                        <div class="avatar-md me-4">
                                            <img ng-if="s.sanPham.anh.length>0" style="width: 48px;height: 48px;border-radius: 5px"
                                                 src="/image/loadImage/product/{{s.sanPham.anh[0]}}" class="img-fluid" alt="">
                                            <img ng-if="s.sanPham.anh.length==0" style="width: 48px;height: 48px;border-radius: 5px"
                                                 src="/image/loadImage/product/default.png" class="img-fluid" alt="">
                                        </div>
                                    </td>

                                    <td style="width: 300px">
                                        <div>
                                            <h5 class="font-size-15 nameProduct"><a class="text-dark">{{s.sanPham.ten}}</a></h5>
                                            <span >
                                                <del ng-if="s.sanPham.giaBan>s.sanPham.giaNiemYet" style="font-size: 11px">{{s.sanPham.giaBan | currency: "" : 1}}đ</del>
                                                <span class="text-muted">{{s.sanPham.giaNiemYet | currency: "" : 1}}đ</span>
                                            </span>
                                        </div>
                                    </td>

                                    <td>
                                        <p class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.sanPham.soLuong==0?'Hết hàng':s.sanPham.soLuong}}</a></p>
<!--                                        <span class="text-muted">243K</span>-->
                                    </td>

                                    <td>
                                        <div class="text-end">
                                            <p class="mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.soLuong}}</a></p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!--        Sản phẩm Tồn-->
            <div style="width: 49%">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Sản phẩm tồn</h4>
                    </div><!-- end card header -->

                    <div class="card-body px-0 pt-2">
                        <div class="table-responsive px-3" data-simplebar >
                            <table class="table align-middle table-nowrap">
                                <thead>
                                <tr>
                                    <th colspan="2">Sản phẩm</th>
                                    <th style="width: 15%"><span  class="d-flex justify-content-center">Ngày thêm</span></th>
                                    <th  style="width: 15%"><span  class="d-flex justify-content-center">Còn lại</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="s in sanPhamTon ">
                                    <td style="width: 50px;">
                                        <div class="avatar-md me-4">
                                            <img ng-if="s.anh.length>0" style="width: 48px;height: 48px;border-radius: 5px"
                                                 src="/image/loadImage/product/{{s.anh[0]}}" class="img-fluid" alt="">
                                            <img ng-if="s.anh.length==0" style="width: 48px;height: 48px;border-radius: 5px"
                                                 src="/image/loadImage/product/default.png" class="img-fluid" alt="">
                                        </div>
                                    </td>

                                    <td style="width: 200px">
                                        <div>
                                            <h5 class="font-size-15 nameProduct"><a href="/admin/san-pham/{{s.ma}}" class="text-dark">{{s.ten}}</a></h5>
                                            <span >
                                                <del ng-if="s.giaBan>s.giaNiemYet" style="font-size: 11px">{{s.giaBan | currency: "" : 1}}đ</del>
                                                <span class="text-muted">{{s.giaNiemYet | currency: "" : 1}}đ</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div  style="width: 80px;">
                                        <p class="mb-1 text-dark">{{s.ngayTao | date:'dd-MM-yyyy'}}</p>
                                        <p class="mb-1 text-dark">{{s.ngayTao | date:'HH:mm:ss'}}</p>
                                        </div>
                                    </td>
                                    <td >
                                        <p class="mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.soLuong}}</a></p>
                                        <!--                                        <span class="text-muted">243K</span>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
        </div>
<!--        ////////////-->
        <!--    /////////Modal Chi tiết bán chạy-->
        <div class="modal fade" id="chiTietBanChay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Xem chi tiết</h5>
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close" onclick="$('#chiTietBanChay').modal('hide')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body px-0 pt-2">
                            <div class="table-responsive px-3" data-simplebar style="height: 300px" >
                                <table class="table align-middle table-nowrap">
                                    <thead>
                                    <tr style="position: sticky;
                                            top: 0;
                                            z-index: 1;
                                            background: white;">
                                        <th  style="width: 70%">Kích thước</th>
                                        <th style="width: 15%"><span  class="d-flex justify-content-center">Còn lại</span></th>
                                        <th  style="width: 15%"><span  class="d-flex justify-content-center"> Đã bán </span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="s in chiTietBanChay" >

                                        <td style="width: 300px">
                                            <div>
                                                <h5 class="font-size-15 nameProduct"><a class="text-dark">{{s.chiTietSanPham.size == 0 ? 'Đã xóa' : s.chiTietSanPham.size}}</a></h5>
                                            </div>
                                        </td>

                                        <td>
                                            <p ng-if="s.chiTietSanPham.size != 0" class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.chiTietSanPham.soLuong==0?'Hết hàng':s.chiTietSanPham.soLuong}}</a></p>
                                            <p ng-if="s.chiTietSanPham.size == 0" class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">Đã xóa</a></p>

                                            <!--                                        <span class="text-muted">243K</span>-->
                                        </td>

                                        <td>
                                            <div class="text-end">
                                                <p class="mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.daBan}}</a></p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#chiTietBanChay').modal('hide')">Trở về</button>
                    </div>
                </div>
            </div>
        </div>

<!--        Modal Sản phẩm đã bán-->
        <div class="modal fade bd-example-modal-lg" id="sanPhamDaBan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: 500px;overflow-y: scroll;padding-top: 0px;">
                        <div class="d-flex" style="position: sticky;
                                            padding-bottom: 30px;
                                            top: 0;
                                            z-index: 1;
                                            background: white;
                                            padding-top: 20px;">
                            <div class="col-8" style="padding-left: 80px;font-weight: bold" >Sản phẩm</div>
                            <div class="col-2 text-center" style="font-weight: bold"><span  class="d-flex justify-content-center">Còn lại</span></div>
                            <div class="col-2 text-center" style="font-weight: bold"><span  class="d-flex justify-content-center"> Đã bán </span></div>
                        </div>
                        <div ng-repeat="s in tongQuat.sanPhamDaBan ">
                            <div  ng-click="setDropDown('dr'+s.sanPham.sanPham.ma)"  class="col-12 d-flex align-items-center">
                                <div class="col-2">
                                    <div class="d-flex justify-content-center">
                                        <img ng-if="s.sanPham.sanPham.anh.length>0" style="width: 70px;height: 70px;border-radius: 5px"
                                             src="/image/loadImage/product/{{s.sanPham.sanPham.anh[0]}}" class="img-fluid" alt="">
                                        <img ng-if="s.sanPham.sanPham.anh.length==0" style="width: 70px;height: 70px;border-radius: 5px"
                                             src="/image/loadImage/product/default.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-6 d-flex justify-content-start">
                                    <div>
                                        <h5 class="font-size-15 nameProduct"><a href="/admin/san-pham/{{s.sanPham.sanPham.ma}}" class="text-dark">{{s.sanPham.sanPham.ten}}</a></h5>
                                        <span >
                                            <del ng-if="s.sanPham.sanPham.giaBan>s.sanPham.sanPham.giaNiemYet" style="font-size: 11px">{{s.sanPham.sanPham.giaBan | currency: "" : 1}}đ</del>
                                            <span class="text-muted">{{s.sanPham.sanPham.giaNiemYet | currency: "" : 1}}đ</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <p class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.sanPham.sanPham.soLuong==0?'Hết hàng':s.sanPham.sanPham.soLuong}}</a></p>
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <p class="mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.sanPham.soLuong}}</a></p>
                                </div>
                            </div>
                            <div class="dropdown-content" id="dr{{s.sanPham.sanPham.ma}}" style="display: none">
                                <div class="d-flex justify-content-center"  >
                                    <table class="table align-middle table-nowrap bg-light" style="width: 90%">
                                        <thead>
                                        <tr>
                                            <th  style="width: 70%;font-weight: bold">Kích thước</th>
                                            <th style="width: 15%;font-weight: bold"><span  class="d-flex justify-content-center">Còn lại</span></th>
                                            <th  style="width: 15%;font-weight: bold"><span  class="d-flex justify-content-center"> Đã bán </span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="s in s.chiTietSanPham" >

                                            <td style="width: 300px">
                                                <div>
                                                    <h5 class="font-size-15 nameProduct"><a class="text-dark">{{s.chiTietSanPham.size == 0 ? 'Đã xóa' : s.chiTietSanPham.size}}</a></h5>
                                                </div>
                                            </td>

                                            <td>
                                                <p ng-if="s.chiTietSanPham.size != 0" class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.chiTietSanPham.soLuong==0?'Hết hàng':s.chiTietSanPham.soLuong}}</a></p>
                                                <p ng-if="s.chiTietSanPham.size == 0" class="mb-1 mb-1 d-flex justify-content-center"><a href="" class="text-dark">Đã xóa</a></p>

                                                <!--                                        <span class="text-muted">243K</span>-->
                                            </td>

                                            <td>
                                                <div class="text-end">
                                                    <p class="mb-1 d-flex justify-content-center"><a href="" class="text-dark">{{s.daBan}}</a></p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="">
                <!-- card -->
                <div class="card">
                    <!-- card body -->
                    <div class="card-body">

                        <div class="col-12" id="month"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>